application/config/database.php
/application/logs/*
!/application/logs/index.html
/application/cache/*
!/application/cache/index.html
.DS_Store

/vendor/
.php-cs-fixer.cache
/dist

/utils/launchpad/dput.cf

/utils/composer.lock
/utils/vendor/
